# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
venv/
.venv/

# Data
data/
*.db
*.sqlite3

# Environment
.env

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Certificados
*.pfx
*.p12
*.pem
*.key
